body{
    margin: 0;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: #000;
    
}

ul{
    margin: 0;
    padding: 10px 10px;
   
    display: flex;
    flex-direction: row-reverse;
}

ul li{
    list-style: none;
    color:rgb(0, 238, 255);
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 10px;
    filter: blur(1px);
    transition: 4s; 
}
ul li:hover,
ul li:hover ~ li{
    transform: rotate(180deg)
    translateY(-200px);
    transition: 2s;
    filter:blur(20px);
    opacity: 0;
}